Repository GDSC-CAU/Thanks-Clip: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
    "**/*.js": ["prettier --write", "eslint --fix"],
    "**/*.jsx": ["prettier --write", "eslint --fix"],
    "**/*.{md,json}": ["prettier --write"]
}

refactor: `/rendering` api route handler with updated code
  pages/api/rendering.js
Due: prettier --write, eslint --fix

!BREAK: update `/image` api route with updated code and parse font url from `.env`
  pages/api/image.jsx
Due: prettier --write, eslint --fix

refactor: add tag extractor annotaion at step 4
  app/step/4/page.js
Due: prettier --write, eslint --fix

fix: invalid classname abosolute
  app/step/4/loading.js
Due: prettier --write, eslint --fix

refactor: update `Download` component fetching condtion
  app/download/components/Download.jsx
Due: prettier --write, eslint --fix

refactor: `DownloadClient` component with updated code and update valid condition
  app/download/components/DownloadClient.jsx
Due: prettier --write, eslint --fix

refactor: with updated code
  app/step/3/components/PreviewLetter/index.jsx
  app/step/4/components/Viewer.jsx
Due: prettier --write, eslint --fix

refactor: remove `index.css` unused annotation
  app/index.css
Due: none

docs: Update README.md
  README.md
Due: prettier --write
