Repository GDSC-CAU/Thanks-Clip: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

env: setup viteJs config
  vite.config.js
Due: prettier --write, eslint --fix

env: setup basic react app
  src/App.jsx
  src/index.html
  src/main.jsx
Due: none

docs: add main README.md
  README.md
Due: prettier --write

env: setup tailwindcss
  package.json
  pnpm-lock.yaml
  postcss.config.cjs
  src/index.css
  src/main.jsx
  tailwind.config.cjs
Due: prettier --write

feat: basic tailwindcss test
  src/App.jsx
Due: none

chore: add jotai^1.12.1
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: add letter atom
  src/atoms/letter.js
Due: prettier --write, eslint --fix

feat: add letter text atom
  src/atoms/letterText.js
Due: prettier --write, eslint --fix

feat: add video atom
  src/atoms/video.js
Due: prettier --write, eslint --fix

feat: export atoms with store
  src/atoms/index.js
Due: prettier --write, eslint --fix

chore: install react-router-dom
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: design router structure
  src/App.jsx
  src/components/Header.jsx
  src/components/ProgressBar.jsx
  src/pages/Home.jsx
  src/pages/Step1.jsx
  src/pages/Step2.jsx
  src/pages/Step3.jsx
  src/pages/Step4.jsx
  src/pages/Step5.jsx
Due: none

chore: install heroicons
  package.json
  pnpm-lock.yaml
  src/App.jsx
Due: prettier --write

chore: disable react/prop-types
  .eslintrc.json
Due: prettier --write

feat: add prevButton Component
  src/App.jsx
  src/prevButton.jsx
Due: none

style: rename prevButton.jsx to PrevButton.jsx
  src/App.jsx
Due: none

chore: add `.jsx` for lint-stage
  .lintstagedrc
Due: none

feat: routing structure and route constant
  src/router/config.jsx
Due: none

feat: setup router-provider and redirecting logic
  src/router/RouterProvider.jsx
Due: none

feat: add custom link component for route typing
  src/router/LinkTo.jsx
Due: none

docs: add route directory README.md
  src/router/README.md
  src/router/index.js
Due: prettier --write, eslint --fix

feat: add pages function component
  src/pages/Step5.jsx
  src/pages/error/index.jsx
  src/pages/home/index.jsx
  src/pages/step1/index.jsx
  src/pages/step2/index.jsx
  src/pages/step3/index.jsx
  src/pages/step4/index.jsx
Due: none

docs: add page README.md
  src/pages/README.md
  src/pages/index.js
Due: prettier --write, eslint --fix

feat: add common layout component and make common dir for component
  src/components/Header.jsx
  src/components/ProgressBar.jsx
  src/components/common/Header.jsx
  src/components/common/Layout.jsx
  src/components/common/ProgressBar.jsx
Due: none

docs: add common component README.md
  src/components/common/README.md
  src/components/common/index.js
Due: prettier --write, eslint --fix

docs: add pages component README.md
  src/components/pages/README.md
Due: prettier --write

feat: render App
  src/App.jsx
  src/main.jsx
Due: none

refactor: rename `Router` to `RouterProvider`
  src/App.jsx
  src/router/RouterProvider.jsx
Due: none

feat: delete preventScrollReset attribute for link component
  src/router/LinkTo.jsx
Due: none

refactor: change prevButton component to arrow function
  src/App.jsx
  src/prevButton.jsx
Due: none

move: move PrevButton.jsx to components/common folder
  pnpm-lock.yaml
  src/components/common/PrevButton.jsx
Due: none

feat: add Title common component
  src/components/common/Title.jsx
  src/components/common/index.js
Due: prettier --write, eslint --fix

refactor: move LinkTo to common component
  src/components/common/LinkTo.jsx
  src/components/common/index.js
Due: prettier --write, eslint --fix

refactor: simplify route folder structure
  src/router/index.js
  src/router/index.jsx
Due: prettier --write, eslint --fix

refactor: move router provider to App and add App container
  src/App.jsx
  src/router/RouterProvider.jsx
Due: none

docs: update component and router README.md
  src/components/common/README.md
  src/router/README.md
Due: prettier --write

feat: add onClick event to PrevButton
  src/components/common/PrevButton.jsx
Due: none

feat: add NextButton component
  src/components/common/NextButton.jsx
Due: none

feat: add ProgressBar common component
  src/components/common/Layout.jsx
  src/components/common/ProgressBar.jsx
Due: none

feat: add color and size props to NextButton
  src/components/common/NextButton.jsx
Due: none

Path conditions:
  prettier --write: (any of: **/*.js) or (any of: **/*.{md,json})
  eslint --fix: any of: **/*.js
