Repository GDSC-CAU/Thanks-Clip: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
    "**/*.js": ["prettier --write", "eslint --fix"],
    "**/*.jsx": ["prettier --write", "eslint --fix"],
    "**/*.{md,json}": ["prettier --write"]
}

refactor: rename NextButton to Button and refactor minor button logic
  src/components/common/Button.jsx
  src/components/common/NextButton.jsx
Due: prettier --write, eslint --fix

feat: export components in `index.js`
  src/components/common/index.js
Due: prettier --write, eslint --fix

fix: builded prograss bar width unchanged
  src/components/common/ProgressBar.jsx
Due: prettier --write, eslint --fix

chore: add out folder at .gitignore
  .gitignore
Due: none

chore: add remotion packages and script
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: add webpack-override config for tailwind setup
  src/video/webpack-override.js
Due: prettier --write, eslint --fix

feat: setup remotion config
  remotion.config.js
Due: prettier --write, eslint --fix

feat: setup basic remotion video components
  src/video/Composition.jsx
  src/video/Root.jsx
  src/video/index.jsx
Due: prettier --write, eslint --fix

feat: add remotion component dir
  src/video/components/Player.jsx
Due: prettier --write, eslint --fix

style: fix lint error at postcss.config
  postcss.config.cjs
Due: none

fix: pnpm-lock.yaml conflict
  pnpm-lock.yaml
Due: none

refactor: remove unused route component
  src/components/common/ProgressBar.jsx
Due: prettier --write, eslint --fix

feat: add KeywordButton page component
  src/components/pages/KeywordButton.jsx
Due: prettier --write, eslint --fix

feat: add arbitary keywordTextList.jsx
  src/components/pages/KeywordTextList.jsx
Due: prettier --write, eslint --fix

feat: add keyword selection func to step2 page
  src/pages/step2/index.jsx
Due: prettier --write, eslint --fix

fix: rename step1 to step2
  src/pages/step2/index.jsx
Due: prettier --write, eslint --fix

fix: fix toggleActive func for duplicate selections
  src/pages/step2/index.jsx
Due: prettier --write, eslint --fix

refactor: rename toggleActive to handleKeywordButton
  src/pages/step2/index.jsx
Due: prettier --write, eslint --fix

feat: add transition-modal property at tailwind.config
  tailwind.config.cjs
Due: none

feat: add modal common component
  src/components/common/Modal.jsx
  src/components/common/index.js
Due: prettier --write, eslint --fix

test: add modal example in page1
  src/pages/step1/index.jsx
Due: prettier --write, eslint --fix

fix: prevButton triggers routing rerender
  src/components/common/PrevButton.jsx
Due: prettier --write, eslint --fix

refactor: move step variable into props and update bar height to 1
  src/components/common/ProgressBar.jsx
Due: prettier --write, eslint --fix

refactor: add nav component for common layout
  src/components/common/Layout.jsx
Due: prettier --write, eslint --fix

chore: add @remotion/lambda 3.3.27
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: rename keywordBtnActive to isSelected
  src/pages/step2/index.jsx
Due: prettier --write, eslint --fix

feat: add useEffect to count activeKeywordNum
  src/pages/step2/index.jsx
Due: prettier --write, eslint --fix

move: move step2 components to pages/step2 folder
  src/components/pages/index.js
  src/components/pages/step2/KeywordButton.jsx
  src/components/pages/step2/KeywordTextList.jsx
  src/pages/step2/index.jsx
Due: prettier --write, eslint --fix

feat: make `Button` active according to condition
  src/pages/step2/index.jsx
Due: prettier --write, eslint --fix

chore: add .env at `.gitignore`
  .gitignore
Due: none

chore: add aws lambda & s3 bucket deploying scripts
  constant/deployConfig.js
  package.json
  pnpm-lock.yaml
  scripts/deploy.js
  scripts/increase.js
Due: prettier --write, eslint --fix

refactor: extract remotion video root id to constant
  src/video/Root.jsx
Due: prettier --write, eslint --fix

fix: fix buttonStyle in `Button` component
  src/components/common/Button.jsx
Due: prettier --write, eslint --fix

fix: re-format `KeywordTextList` to json file & feat: add getKeywordList func to step2 View
  src/components/pages/step2/KeywordButton.jsx
  src/components/pages/step2/KeywordTextList.json
  src/components/pages/step2/KeywordTextList.jsx
  src/pages/step2/index.jsx
Due: prettier --write, eslint --fix

feat: add `Title` component in Step2 View
  src/pages/step2/index.jsx
Due: prettier --write, eslint --fix

feat: design css in step2 page
  src/components/pages/step2/KeywordButton.jsx
  src/pages/step2/index.jsx
Due: prettier --write, eslint --fix

feat: add 'Input', 'Textarea' component in step2
  src/components/pages/step1/Input.jsx
  src/components/pages/step1/Textarea.jsx
  src/pages/step1/index.jsx
Due: prettier --write, eslint --fix

env: setup nextjs^13 and restructure repository
  package.json
  pnpm-lock.yaml
  src/App.jsx
  src/atoms/index.js
  src/atoms/letter.js
  src/atoms/letterText.js
  src/atoms/video.js
  src/components/common/Button.jsx
  src/components/common/Header.jsx
  src/components/common/Layout.jsx
  src/components/common/LinkTo.jsx
  src/components/common/PrevButton.jsx
  src/components/common/ProgressBar.jsx
  src/components/common/README.md
  src/components/common/Title.jsx
  src/components/common/index.js
  src/components/pages/README.md
  src/index.css
  src/index.html
  src/main.jsx
  src/pages/README.md
  src/pages/error/index.jsx
  src/pages/home/index.jsx
  src/pages/index.js
  src/pages/step1/index.jsx
  src/pages/step2/index.jsx
  src/pages/step3/index.jsx
  src/pages/step4/index.jsx
  src/router/README.md
  src/router/index.jsx
  src/video/Composition.jsx
  src/video/Root.jsx
  src/video/components/Player.jsx
  src/video/index.jsx
  src/video/webpack-override.js
  vite.config.js
Due: prettier --write, eslint --fix

env: update `tailwind.config.js`
  tailwind.config.cjs
Due: none

env: setup nextjs eslint and config and update .gitignore
  .eslintrc.json
  .gitignore
  next.config.js
Due: prettier --write, eslint --fix
